/*  */
.display-inline{display: inline-block !important;}
.display-block{display: block !important;}
.display-none{display: none;}

.pt-5{padding-top:-5px;}.pt5{padding-top:5px;}.pt10{padding-top:10px;}.pt15{padding-top:15px;}.pt20{padding-top:20px;}.pt25{padding-top:25px;}.pt30{padding-top:30px;}
.pb-5{padding-bottom:-5px;}.pb5{padding-bottom:5px;}.pb10{padding-bottom:10px;}.pb15{padding-bottom:15px;}.pb20{padding-bottom:20px;}.pb25{padding-bottom:25px;}.pb30{padding-bottom:30px;}
.pl-5{padding-left:-5px;}.pl0{padding-left:0px;}.pl5{padding-left:5px;}.pl10{padding-left:10px;}.pl15{padding-left:15px;}.pl20{padding-left:20px;}.pl25{padding-left:25px;}.pl30{padding-left:30px;}
.pr-5{padding-right:-5px;}.pr5{padding-right:5px;}.pr10{padding-right:10px;}.pr15{padding-right:15px;}.pr20{padding-right:20px;}.pr25{padding-right:25px;}.pr30{padding-right:30px;}
.pr0{padding-right:0px;}
.pr50{padding-right:50px;}
.pt50{padding-top:50px;}

.mt-5{margin-top:-5px;}.mt0{margin-top:0px;}.mt5{margin-top:5px;}.mt10{margin-top:10px;}.mt15{margin-top:15px;}.mt20{margin-top:20px;}.mt25{margin-top:25px;}.mt30{margin-top:30px;}
.mb-5{margin-bottom:-5px;}.mb0{margin-bottom:0px;}.mb5{margin-bottom:5px;}.mb10{margin-bottom:10px;}.mb15{margin-bottom:15px;}.mb20{margin-bottom:20px;}.mb25{margin-bottom:25px;}.mb30{margin-bottom:30px;}
.ml-5{margin-left:-5px;}.ml0{margin-left:0px;}.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}.ml20{margin-left:20px;}.ml25{margin-left:25px;}.ml30{margin-left:30px;}
.mr-5{margin-right:-5px;}.mr0{margin-right:0px;}.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}.mr20{margin-right:20px;}.mr25{margin-right:25px;}.mr30{margin-right:30px;}
.ml60{margin-left: 60px;}
.ml50{margin-left: 50px;}
.ml40{margin-left: 40px;}
.ml80{margin-left: 80px;}
.mt50{margin-top: 50px;}.mt80{margin-top: 80px;}.mt100{margin-top: 100px;}
.mb50{margin-bottom: 50px;}.mb80{margin-bottom: 80px;}.mb100{margin-bottom: 100px;}

.block1em{display: inline-block;width: 1em;height: 1em;}
.b600-text{font-weight: 600;}
.b400-text{font-weight: 400;}

.default-text{color:#149afd;}
.red-text{color: #dc4947;}
.blue-text{color: blue;}
.yellow-text{color: yellow;}
.orange-text{color: orange;}
.gray-text{color: gray;}
.green-text{color: green;}
.white-text{color:#fff;}
.gray666-text{color:#666;}
.gray333-text{color:#333;}
.gray999-text{color:#999;}
.grayccc-text{color:#ccc;}


.font70{font-size:70px;}
.font40{font-size:40px;}
.font30{font-size:30px;}
.font22{font-size:22px;}
.font20{font-size:20px;}
.font18{font-size:18px;}
.font12{font-size:12px;}
.font14{font-size:14px;}
.font16{font-size:16px;}
.verticalAlign-top{vertical-align: top;}
.verticalAlign-middle{vertical-align: middle;}
.verticalFlex-center{display: flex;justify-content: center;}
.border-right{border-right:1px solid #e0e0e0;}
.border-left{border-left:1px solid #e0e0e0;}
.border-top{border-top:1px solid #e0e0e0;}
.border-bottom{border-bottom:1px solid #e0e0e0;}


.pointer{cursor:pointer !important;}
.not-allowed{cursor:not-allowed !important;}

.pointer{cursor:pointer !important;}
.not-allowed{cursor:not-allowed !important;}

.ellipsis{display: inline-block;width:15em;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}

.w100{
	width: 100px;
}
.w200{
	width: 200px;
}
.w300{
	width: 300px;
}
.w400{
	width: 400px;
}

/** 整合weui.css中的weui_dialog*/
.weui_dialog{
  position: fixed;
  z-index: 5000;
  width: 85%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #FAFAFC;
  text-align: center;
  border-radius: 3px;
  overflow: hidden;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_hd{
  padding: 1.2em 20px .5em;
}
.weui_dialog_confirm .weui_dialog .weui_dialog_bd{
  text-align: left;
}
.weui_dialog_hd{
  padding: 1.2em 0 .5em;
}
.weui_dialog_title{
  font-weight: 400;
  font-size: 17px;
}
.weui_dialog_bd{
  padding: 0 20px;
  font-size: 15px;
  color: #888;
  word-wrap: break-word;
  word-break: break-all;
}
.weui_dialog_ft{
  position: relative;
  line-height: 42px;
  margin-top: 20px;
  font-size: 17px;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.weui_dialog_ft a{
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
          flex: 1;
  color: #3CC51F;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.weui_dialog_ft a:active{
  background-color: #EEEEEE;
}
.weui_dialog_ft:after{
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 1px;
  border-top: 1px solid #D5D5D6;
  color: #D5D5D6;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}
.weui_dialog_confirm .weui_dialog_ft a{
  position: relative;
}
.weui_dialog_confirm .weui_dialog_ft a:after{
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  border-left: 1px solid #D5D5D6;
  color: #D5D5D6;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-transform: scaleX(0.5);
          transform: scaleX(0.5);
}
.weui_dialog_confirm .weui_dialog_ft a:first-child:after{
  display: none;
}
.weui_btn_dialog.default{
  color: #353535;
}
.weui_btn_dialog.primary{
  color: #0BB20C;
}
.weui_mask{
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.6);
}